In [0]:
import numpy as np
import itertools
import collections
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
import pandas as pd
import gzip


data=pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)



data

           reviewerID        asin  ... unixReviewTime   reviewTime
0      A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1      A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2      A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3       A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4      A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013
...               ...         ...  ...            ...          ...
53253  A1ODOGXEYECQQ8  B00KYA0RC2  ...     1405555200  07 17, 2014
53254  A2XX2A4OJCDNLZ  B00KYA0RC2  ...     1405296000  07 14, 2014
53255  A3LGT6UZL99IW1  B00KYA0RC2  ...     1405468800  07 16, 2014
53256  A1XJOSJN6FHFO0  B00KYA0RC2  ...     1405814400  07 20, 2014
53257   AAEVGE52KL0DJ  B00KYA0RC2  ...     1404604800   07 6, 2014

[53258 rows x 9 columns]

In [0]:
data['reviewText']

0        I bought my first HP12C in about 1984 or so, a...
1        WHY THIS BELATED REVIEW? I feel very obliged t...
2        I have an HP 48GX that has been kicking for mo...
3        I've started doing more finance stuff recently...
4        For simple calculations and discounted cash fl...
                               ...
53253    What I like about this scale is you can power ...
53254    This Accuteck ShipPro digital scale works very...
53255    I ship a lot of stuff.  I sell small parts, ma...
53256    This is a great little scale to have. It can w...
53257    When asked to review this scale, I almost decl...
Name: reviewText, Length: 53258, dtype: object

In [0]:
import re

In [0]:
a=[]

In [0]:
def start_end(string):
  string=re.sub('[^a-zA-Z]',' ',string)
  list1=re.findall("\w+[Gg]", string)
  list2=re.findall("[Bb]\w+", string)
  return(list(set().union(list1,list2)))

In [0]:
data['rev_txt_bg']=data.reviewText.apply(start_end)
data['summary_bg']=data.summary.apply(start_end)

In [0]:
data.drop(['not_b_g'],1,inplace=True)

In [68]:
data.head()

       reviewerID        asin  ...    summary_bg not_b_g
0  A32T2H8150OJLU  B00000JBLH  ...        [long]      []
1  A3MAFS04ZABRGO  B00000JBLH  ...  [flag, bury]      []
2  A1F1A0QQP2XVH5  B00000JBLH  ...    [but, ble]      []
3   A49R5DBXXQDE5  B00000JBLH  ...            []      []
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...        [best]      []

[5 rows x 12 columns]

In [0]:
def splitr(m):
  return list(m)

In [0]:
vowel=['a','e','i','o','u']
def counter(text):
  counter = {"vowel":0,"consonant":0,"totcount":0}
  for word in text:
    wordrs = splitr(word)
    for wordr in wordrs:
      if wordr in vowel:
        counter["vowel"]+=1
      else:
        counter["consonant"]+=1
      counter['totcount']+=1
  return counter

In [0]:
data['revtxt_vc']=data['reviewText'].apply(lambda x:counter(x))

In [75]:
data.head()

       reviewerID  ...                                          revtxt_vc
0  A32T2H8150OJLU  ...  {'vowel': 267, 'consonant': 705, 'totcount': 972}
1  A3MAFS04ZABRGO  ...  {'vowel': 1318, 'consonant': 4037, 'totcount':...
2  A1F1A0QQP2XVH5  ...  {'vowel': 132, 'consonant': 363, 'totcount': 495}
3   A49R5DBXXQDE5  ...  {'vowel': 1049, 'consonant': 2599, 'totcount':...
4  A2XRMQA6PJ5ZJ8  ...  {'vowel': 200, 'consonant': 504, 'totcount': 704}

[5 rows x 12 columns]