In [0]:
import nltk
import spacy

In [0]:
from nltk import word_tokenize
from nltk.tokenize import TweetTokenizer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
import pandas as pd

In [79]:
data=pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)



data

import re
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
def tokenizer(sentence):
  sentence=sentence.lower()
  sentence=re.sub('[^a-zA-Z]',' ',sentence)
  new_dict={}
  word_tokens=word_tokenize(sentence)
  # wordlem=[WordNetLemmatizer.lemmatize(word) for word in word_tokens]
  wordtags= pos_tag(sentence.split())
  new_dict={"Tokens":word_tokens,"Tags":wordtags}
  return (new_dict)

In [84]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [0]:
data['revtxt_tokens']=data.reviewText.apply(tokenizer)

In [0]:
def adj_from_tag(sentence):
  sentence=sentence.lower()
  sentence=re.sub('[^a-zA-Z]',' ',sentence)
  wordtags= pos_tag(sentence.split())
  adj_tags = ["JJ", "JJR", "JJS"]
  adj_list = [a[0] for a in wordtags if a[1] in adj_tags ]
  return adj_list

In [0]:
data['adjectives']=data.reviewText.apply(adj_from_tag)

In [88]:
data.head()

       reviewerID  ...                                         adjectives
0  A32T2H8150OJLU  ...  [first, hp, difficult, many, hp, powerful, cou...
1  A3MAFS04ZABRGO  ...  [old, oth, satisfied, ower, frank, anniversary...
2  A1F1A0QQP2XVH5  ...  [more, more, old, drops, overall, new, hollow,...
3   A49R5DBXXQDE5  ...  [more, good, available, i, hp, hp, great, long...
4  A2XRMQA6PJ5ZJ8  ...  [simple, best, financial, complex, excel, quic...

[5 rows x 11 columns]