In [4]:
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords

In [5]:
sw=set(stopwords.words('english'))

In [1]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip'

Warning: Failed to set locale category LC_NUMERIC to en_IN.
Warning: Failed to set locale category LC_TIME to en_IN.
Warning: Failed to set locale category LC_COLLATE to en_IN.
Warning: Failed to set locale category LC_MONETARY to en_IN.
Warning: Failed to set locale category LC_MESSAGES to en_IN.
--2020-02-08 13:25:53--  https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)...128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443...connected.
HTTP request sent, awaiting response...200 OK
Length: 203415 (199K) [application/x-httpd-php]
Saving to: ‘smsspamcollection.zip’

smsspamcollection.z 100%[===================>] 198.65K   149KB/s    in 1.3s

2020-02-08 13:25:56 (149 KB/s) - ‘smsspamcollection.zip’ saved [203415/203415]

In [2]:
!unzip -o smsspamcollection.zip

Archive:  smsspamcollection.zip
  inflating: SMSSpamCollection
  inflating: readme

In [9]:
data=pd.read_csv('/Users/aadiharan99/OneDrive/VSCode workspace/SMSSpamCollection',delimiter='\t',header=None)

In [10]:
data

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [125]:
def email_finder(text):
    text=text.lower()
    email=list()
    email.append(re.findall("\w+@\w+.\w+",text))
    return email

In [1]:
def num_finder(text):
    text=text.lower()
    number_list=list()
    number_list.append(re.findall("[0-9]",text))
    return number_list[0]

In [191]:
data.columns=['Category','Text']

In [219]:
string1='the quick brown fox jumps over the lazy dog aadi@hotmail.com 8989299999'

In [216]:
email_finder(string1)

[['aadi@hotmail.com']]

In [220]:
num_finder(string1)

[['8', '9', '8', '9', '2', '9', '9', '9', '9', '9']]

In [13]:
data.head()

  Category                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

0       [[]]
1       [[]]
2       [[]]
3       [[]]
4       [[]]
        ...
5567    [[]]
5568    [[]]
5569    [[]]
5570    [[]]
5571    [[]]
Name: Text, Length: 5572, dtype: object

In [ ]:
import spac