In [0]:

import pandas as pd

from textblob import TextBlob
from nltk import sentiment
from sklearn.metrics import confusion_matrix,accuracy_score

In [0]:
data=pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)
df = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv",error_bad_lines=False)



data
df

        Topic  ...                                          TweetText
0       apple  ...  Now all @Apple has to do is get swype on the i...
1       apple  ...  @Apple will be adding more carrier support to ...
2       apple  ...  Hilarious @youtube video - guy does a duet wit...
3       apple  ...  @RIM you made it too easy for me to switch to ...
4       apple  ...  I just realized that the reason I got into twi...
...       ...  ...                                                ...
5108  twitter  ...                            me re copè con #twitter
5109  twitter  ...  Buenas noches genteeee :) #twitter los quieroo...
5110  twitter  ...  #twitter tiene la mala costumbre de ponerce bn...
5111  twitter  ...  Oi @flaviasansi. Muito bem vinda ao meu #Twitt...
5112  twitter  ...  Eles arrastaram os barcos para a praia, deixar...

[5113 rows x 5 columns]

In [0]:
df=df[df['Sentiment']!='irrelevant']
df['Sentiment'].value_counts()

neutral     2333
negative     572
positive     519
Name: Sentiment, dtype: int64

In [0]:
import nltk,re

In [0]:
# from nltk import sentiment

In [0]:
sent=data['reviewText'][0]

In [0]:
def txt_blob(text):
  txt_blob=TextBlob(text).sentiment
  polarity=txt_blob.polarity
  if polarity==0:
    return "neutral"
  elif polarity>0:
    return "positive"
  else:
    return "negative"

In [0]:
data['txt_blob_senti']=data.reviewText.apply(txt_blob)
data.head()

       reviewerID        asin  ...  max_sent txt_blob_senti
0  A32T2H8150OJLU  B00000JBLH  ...  compound       positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  compound       positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...       neu       positive
3   A49R5DBXXQDE5  B00000JBLH  ...  compound       positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...  compound       positive

[5 rows x 12 columns]

In [0]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('brown')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [0]:

# sent =data['reviewText'][0]
# blob(sent)
sid=sentiment.vader.SentimentIntensityAnalyzer()

In [0]:
def sent_classifier(text):
  sid
  pol_score = sid.polarity_scores(text)
  if pol_score['compound'] >= 0.05:
    return "positive"
  elif pol_score['compound'] <= -0.05:
    return "negative"
  else:
    return "neutral"

In [0]:
data['sent_SIA']=data.reviewText.apply(sent_classifier)

In [0]:
data.head()

       reviewerID        asin  ... txt_blob_senti  sent_SIA
0  A32T2H8150OJLU  B00000JBLH  ...       positive  positive
1  A3MAFS04ZABRGO  B00000JBLH  ...       positive  positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...       positive  negative
3   A49R5DBXXQDE5  B00000JBLH  ...       positive  positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...       positive  positive

[5 rows x 13 columns]

In [0]:
df['TweetText'].head()

0    Now all @Apple has to do is get swype on the i...
1    @Apple will be adding more carrier support to ...
2    Hilarious @youtube video - guy does a duet wit...
3    @RIM you made it too easy for me to switch to ...
4    I just realized that the reason I got into twi...
Name: TweetText, dtype: object

In [0]:
sent1=df['TweetText'][1]
a=sid.polarity_scores(sent1)
a

{'compound': 0.4549, 'neg': 0.0, 'neu': 0.801, 'pos': 0.199}

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
df['tweet_sentiments']=df.TweetText.apply(sid.polarity_scores)

In [0]:
df['tweet_SIA']=df.TweetText.apply(sent_classifier)

In [0]:
df['tweettxt_txtblob']=df.TweetText.apply(txt_blob)
a=confusion_matrix(df['Sentiment'],df['tweettxt_txtblob'])
a

array([[ 234,  171,  167],
       [ 201, 1213,  919],
       [  38,  124,  357]])

In [0]:
b=confusion_matrix(df['Sentiment'],df['tweet_SIA'])
b

array([[ 291,  138,  143],
       [ 302, 1234,  797],
       [  47,   99,  373]])

In [0]:
import operator

In [0]:
def sent_finder(dictionary):
            return max(dictionary.items(), key=operator.itemgetter(1))[0]

In [0]:
df['max_sent']=df.tweet_sentiments.apply(sent_finder)

In [0]:
df.head()

   Topic Sentiment             TweetId  ...  max_sent tweettxt_txtblob tweet_SIA
0  apple  positive  126415614616154112  ...       neu          neutral   neutral
1  apple  positive  126404574230740992  ...       neu         positive  positive
2  apple  positive  126402758403305474  ...  compound         positive  positive
3  apple  positive  126397179614068736  ...       neu         positive  positive
4  apple  positive  126395626979196928  ...       neu         positive  positive

[5 rows x 9 columns]

In [0]:
data['sent_dict']=data.reviewText.apply(sid.polarity_scores)

In [0]:
data['max_sent']=data.sent_dict.apply(sent_finder)

In [0]:
data.head()

       reviewerID        asin  ...  max_sent txt_blob_senti
0  A32T2H8150OJLU  B00000JBLH  ...  compound            pos
1  A3MAFS04ZABRGO  B00000JBLH  ...  compound            pos
2  A1F1A0QQP2XVH5  B00000JBLH  ...       neu            pos
3   A49R5DBXXQDE5  B00000JBLH  ...  compound            pos
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...  compound            pos

[5 rows x 12 columns]

In [0]:
# data['Textblob_polarity']=data.reviewText.apply(blob)
!pip install glove_python

Collecting glove_python
  Downloading https://files.pythonhosted.org/packages/3e/79/7e7e548dd9dcb741935d031117f4bed133276c2a047aadad42f1552d1771/glove_python-0.1.0.tar.gz (263kB)
     |████████████████████████████████| 266kB 2.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.3.3)
Building wheels for collected packages: glove-python
  Building wheel for glove-python (setup.py) ... done
  Created wheel for glove-python: filename=glove_python-0.1.0-cp36-cp36m-linux_x86_64.whl size=700330 sha256=c784072e5a52faa20b31d6945b03c57b04a8f2199d165e7728c5bf4c0d27689d
  Stored in directory: /root/.cache/pip/wheels/88/4b/6d/10c0d2ad32c9d9d68beec9694a6f0b6e83ab1662a90a089a4b
Successfully built glove-python
Installing collected packages: glove-python
Successfully installed glove-python-0.1.0

In [0]:
from glove import Glove
from glove import Corpus

In [0]:
sent=data['reviewText'][0]

In [0]:
sent=list(sent)

In [0]:
glove=Glove()
corp=Corpus()

In [0]:
# glove_para=glove.most_similar(sent)
corp.fit(sent)

TypeError: ignored